<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <section class="container">
        <h1>
            <% if(typeof ) %>
        </h1>
        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>submit</button>
        </form>
    </section>
    <script text="text/javascript" src="/assets/js/bundle.js"></script>

</body>

</html>