<%- include('include/head') %>


    <section class="container">
        <h1>
            <%= titulo%>
        </h1>
        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>submit</button>
        </form>
    </section>

    <%- include('include/footer') %>